body,
html {
    min-height: 100vh;
    background-color: #55ab3e;
    color: #252525;
    scrollbar-color: #252525 #55ab3e;
    scrollbar-width: thin;
    font-family: "ms gothic";
    font-size: 16px;
    margin: 0;
}

header {
    text-align: center;
    margin-bottom: 5%;
}

.container {
    max-width: 800px;
    padding: 0;
}

.content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    align-self: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.layout {
    display: flex;
    align-items: flex-start;
    width: 95%;
    max-width: none;
    margin: 0;
}

nav {
    flex: 3;
    flex-shrink: 1;
    width: auto;
    position: sticky;
    top: 10%;
}

nav a {
    /* space between links */
    padding: 6px 16px 6px 16px;
    font-size: 14px;
    color: #252525;
    display: block;
}

.entry {
    margin-bottom: 10px;
    cursor: pointer;
}

.entry::before {
    content: "";
    margin-right: 5px;
}

.entry.selected::before {
    content: ">";
}

main {
    flex: 1;
    min-width: 0;
}

.entry-content {
    display: none;
}

.entry-content.show {
    display: block;
}

img {
    height: auto;
}

a:link {
    text-decoration: none;
    color: #252525;
}

a:hover {
    font-weight: bold;
    font-style: italic;
    color: #252525;
}

a:visited {
    color: #252525;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

footer {
    position: relative;
    font-size: 10px;
    width: 99%;
    height: auto;
    margin-top: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

/*---------------------*/

@media screen and (max-width: 480px) {

    main {
        max-width: 100%;
    }

}